@model HospiceNiagara.Models.ApplicationUser

<div class="row">
    <div class="col-md-7">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="FirstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-md-6">
                <input id="FirstName" type="text" value="@Html.DisplayFor(m => Model.FirstName)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="LastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-md-6">
                <input id="LastName" type="text" value="@Html.DisplayFor(m => Model.LastName)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="Date" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-md-6">
                <input id="Date" type="Date" value="@Html.DisplayFor(m => Model.LastName)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="Email" class="col-sm-3 control-label">Email</label>
            <div class="col-md-6">
                <input id="Email" type="text" value="@Html.DisplayFor(m => Model.Email)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="PhoneNUmber" class="col-sm-3 control-label">Phone Number</label>
            <div class="col-md-6">
                <input id="PhoneNumber" type="text" value="@Html.DisplayFor(m => Model.PhoneNumber)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="PhoneExt" class="col-sm-3 control-label">Phone Extension</label>
            <div class="col-md-6">
                <input id="PhoneExt" type="text" value="@Html.DisplayFor(m => Model.LastName)" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <!--<button type="submit" class="btn btn-green btn-default">Save</button> -->
                <a class="btn btn-green btn-default" href="@Url.Action("Index","Profile", new { ID = Model.Id })">Save</a>
                <a class="btn btn-blue btn-default" href="@Url.Action("Index", "Profile", new { ID = Model.Id })">Cancel</a>
            </div>
        </div>
    </form>
    </div>
</div>