@model IEnumerable<HospiceNiagara.Models.ViewModels.ContactViewModel>

<!-- Admin Contact -->
<div class="row">
    <div class="col-md-3 col-sm-10 col-md-offset-1">

        <!-- Search -->
        @using (Html.BeginForm("ContactFilter", "Admin", FormMethod.Get))
        {
            <form class="form-inline" role="form">

                <div class="form-group">
                    <input type="text" placeholder="Search Contacts" class="form-control" id="contactSearchString" name="contactSearchString">
                </div>
                <input type="submit" value="Filter" class="btn btn-default btn-blue" id="btnContactSearch" />
            </form>
        }

        <!-- End Search -->

    </div>
</div>
<br />

<!-- Contact List Content -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Staff Member</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>
                            <a data-toggle="modal" style="cursor:pointer" data-target="#ContactPosDesc-@item.ID"><b>@item.Position</b></a>
                        </td>
                        <td>@item.Email</td>
                        
                        <td>
                            <button type="button" class="btn btn-default btn-blue col-md-12" data-toggle="modal" data-target="#Contact-@item.ID">
                                <span class="glyphicon pull-left glyphicon-edit"></span> Edit
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Contact List Content-->

<!--Modal Pop-up Position Description-->
@foreach (var items in Model)
{
    <div class="modal fade" id="ContactPosDesc-@items.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@items.Position</h4>
                </div>
                <div class="modal-body">
                    <p>@items.PositionDescription</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
}
<!-- /End Modal PositionDescription-->

<!--Add Modal pop-up Edit Contact-->
@foreach (var items in Model)
{
    <div class="modal fade" id="Contact-@items.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Contact Information</h4>
                </div>
                <div class="modal-body">

                    <!-- Form For Edditing Announcement -->
                    @using (Html.BeginForm("_EditContact", "Admin", FormMethod.Get, new { name="editContact"}))
                    {
                        <input type="hidden" name="id" value="@items.ID" />

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="firstName" class="col-md-4 control-label">First name</label>
                                <input type="text" value="@items.FirstName" name="firstName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-md-4 control-label">Last Name</label>
                                <input type="text" value="@items.LastName" name="lastname" class="form-control" />
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(i => items.Email, new { @class = "col-md-2 control-label" })
                                <input type="text" value="@items.Email" name="email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="phoneNumber" class="col-md-4 control-label">Phone Number</label>
                                <input type="tel" name="phoneNumber" value="@items.PhoneNumber" class="form-control" />
                            </div>

                            <div class="form-group">
                               <label for="position" class="col-md-2 control-label">Position</label>
                                <input type="text" value="@items.Position" name="position" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="position" class="col-md-4 control-label">Position Description</label>
                                <textarea class="form-control" name="positionDesc">@items.PositionDescription</textarea>
                            </div>

                            <div class="form-group">
                                <label for="viewinContacts" class="col-md-4 control-label">View in Contacts</label>
                                <select id="viewinContacts" name="isContact" class="form-control">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-default btn-block btn-blue">Submit</button>
                            <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Cancel</button>
                        </form>
                    }
                    <!-- /END of form -->
                    <!--Validate Edit Form-->
                    <script>
                        jQuery.validator.setDefaults({
                            // debug: true,
                            success: "valid",
                            errorClass: 'error'
                        });

                        var form = $("[name='editContact']");

                        //$("button").click(function () {
                        //    alert("Valid: " + form.valid());
                        //});

                        form.validate({
                            rules: {
                                firstName: {
                                    required: true,
                                    maxlength: 35
                                },

                                lastname: {
                                    required: true,
                                    maxlength: 45
                                },

                                positionDesc: {
                                    maxlength: 400
                                },

                                email: {
                                    required: true,
                                    email: true
                                }
                            },
                            messages: {
                                firstName: {
                                    required: "Please Specify First Name",
                                    maxlength: $.validator.format("Max Characters Accepted is {0}")
                                },

                                lastname: {
                                    required: "Please Specify Last Name",
                                    maxlength: $.validator.format("Max Characters Accepted is {0}")
                                },

                                positionDesc: {
                                    maxlength: $.validator.format("Max Characters Accepted is {0}")
                                },

                                email: {
                                    required: "Required Email Address",
                                    email: "Must be in format of name@doman.com"
                                }
                            }
                        });
                    </script>
                    <!--End Validation-->
                </div>
            </div>
        </div>
    </div>
}
<!-- /End Model Edit Contact-->
