@model IEnumerable<HospiceNiagara.Models.DeathViewModel>

<!-- Admin Announcement -->

<div class="row">
    <div class="col-md-3 col-sm-10 col-md-offset-1">

        <!-- Search -->
        @using (Html.BeginForm("DeathFilter", "Admin", FormMethod.Get))
        {
            <form class="form-inline" role="form">

                <div class="form-group">
                    <input type="text" placeholder="Search Death" class="form-control" id="deathSearchString" name="deathSearchString">
                </div>
                <input type="submit" value="Filter" class="btn btn-default btn-blue" id="btnDeathSearch" />
            </form>
        }

        <!-- End Search -->

    </div>
</div>

<!-- Announcement List Content -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Description</th>
                    <td>
                        <button type="button" class="btn col-md-12 btn-default btn-green" data-toggle="modal" data-target="#addDeath">
                            <span class="glyphicon pull-left glyphicon-plus"></span> Add Announcement
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@Html.DisplayFor(i => item.Date)</td>
                        <td>@item.Location</td>
                        <td>
                            <button type="button" class="btn btn-default btn-blue col-md-6" data-toggle="modal" data-target="#Death-@item.ID">
                                <span class="glyphicon pull-left glyphicon-edit"></span> Edit
                            </button>
                            <a class="col-md-6 btn btn-default btn-blue" href="@Url.Action("_DeleteDeath", "Admin", new { id = item.ID })"><span class="pull-left glyphicon glyphicon-trash"></span>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Announcement List Content-->
<!--Modal Pop-up add Announcement-->
<!-- Modal -->
<div class="modal fade" id="addDeath" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Announcement</h4>
            </div>
            <div class="modal-body">

                <!-- Form For Adding Announcement -->
                @using (Html.BeginForm("_AddDeath", "Admin", FormMethod.Get))
                {
                    <form>
                        <div class="form-group">
                            <label for="announceTitle">Announcement Title</label>
                            <input type="text" class="form-control" name="announceTitle" id="announceTitle" placeholder="Announcement Title">
                        </div>
                        <div class="form-group">
                            <label for="announcDate">Date of Announcement</label>
                            <input type="date" class="form-control" id="announcDate" name="announceDate">
                        </div>
                        <div class="form-group">
                            <label for="announcDetails">Announcement Details</label>
                            <textarea class="form-control" name="announceDesc" id="announcDetails"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-block btn-blue">Submit</button>
                        <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Cancel</button>
                    </form>
                }
                <!-- /END of form -->


            </div>
        </div>
    </div>
</div>
<!-- /End Modal Add Death-->

<!--Add Modal pop-up Edit Death-->
<!-- Button trigger modal -->
<!-- Modal -->
@foreach (var items in Model)
{
    <div class="modal fade" id="Death-@items.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Announcement</h4>
                </div>
                <div class="modal-body">

                    <!-- Form For Edditing Announcement -->
                    @using (Html.BeginForm("_EditDeath", "Admin", FormMethod.Get))
                    {
                        <input type="hidden" name="ID" value="@items.ID" />

                        <form class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(i => items.Name, new { @class = "col-md-2 control-label" })
                                <input type="text" value="@items.Name" name="announceTitle" class="form-control" />
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(i => items.Date, new { @class = "col-md-2 control-label" })
                                <input type="date" name="announceDate" value="@Html.DisplayFor(i => items.Date)" class="form-control" />
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(i => items.Location, new { @class = "col-md-2 control-label" })
                                <textarea class="form-control" name="announceDesc">@items.Location</textarea>
                            </div>

                            <button type="submit" class="btn btn-default btn-block btn-blue">Submit</button>
                            <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Cancel</button>
                        </form>
                    }
                    <!-- /END of form -->

                </div>
            </div>
        </div>
    </div>
}
<!-- /End Model Edit Death-->
