@model IEnumerable<HospiceNiagara.Models.FileViewModel>
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("Index", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
            <form class="form-inline">
                <div class="form-group">
                    <label for="folder">Category</label>
                    <select name="folder" class="form-control">
                        <option value="1">Organizational</option>
                        <option value="2">Board</option>
                        <option value="3">Staff</option>
                        <option value="4">Volunteer</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="folder">Folder</label>
                    <select name="folder" class="form-control">
                        <option value="1">Sample</option>
                        <option value="2">Blample</option>
                        <option value="3">Dample</option>
                        <option value="4">Crample</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fileDescription" class="control-label">Description</label>
                    <input type="text" class="form-control" name="fileDescription" />
                </div>
                <div class="form-group">
                    <label class="control-label">Select File</label>
                    <input type="file" id="input-1a" class="file" name="FileUpload1" /><br />
                </div>
            </form>
            <br />
        }

        <p>
            Search for a file bellow.
        </p>
        <form class="form-inline">
            <div class="form-group">
                <label for="txtSearch" class="sr-only">Search By Name</label>
                <input type="text" class="form-control" id="txtFileSearch" placeholder="Enter Search Content">
            </div>
            <div class="form-group">
                <select name="ddlScheduleSelection" id="ddlFileShedule" class="form-control">
                    <option value="all">All</option>
                    <option value="org">Organizational Resources</option>
                    <option value="board">Board Resources</option>
                    <option value="staff">Staff Resources</option>
                    <option value="vol">Volunteer Resources</option>
                </select>
            </div>
            <div class="form-group">
                  @using (Html.BeginForm("Index", "File", FormMethod.Get))
               {
                    <button type="button" id="adminFile" class="btn btn-blue btn-default col-md-6 " value="Filter" />
             }
          
            </div>
        </form>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Organizational Resources</a><br />  <div class="row fileList">
                                    <br />
                                    <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Sample Folder </a><br />  <div class="row fileList">
                                                            <br />
                                                            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                                                <table class="table panel-heading well well-sm ">
                                                                    <tr>
                                                                        <th>@Html.DisplayNameFor(model => model.FileName)</th>
                                                                        <th>@Html.DisplayNameFor(model => model.FileDescription)</th>
                                                                        <th></th>
                                                                    </tr>

                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.FolderID == 1)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileDescription)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Board Resources </a><br />  <div class="row fileList">
                                    <br />
                                    <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Sample Folder </a><br />  <div class="row fileList">
                                                            <br />
                                                            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                                                <table class="table panel-heading well well-sm ">
                                                                    <tr>
                                                                        <th>@Html.DisplayNameFor(model => model.FileName)</th>
                                                                        <th>@Html.DisplayNameFor(model => model.FileDescription)</th>
                                                                        <th></th>
                                                                    </tr>

                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.FolderID == 2)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileDescription)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Staff Resources </a><br />  <div class="row fileList">
                                    <br />
                                    <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Sample Folder </a><br />  <div class="row fileList">
                                                            <br />
                                                            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                                                <table class="table panel-heading well well-sm ">
                                                                    <tr>
                                                                        <th>@Html.DisplayNameFor(model => model.FileName)</th>
                                                                        <th>@Html.DisplayNameFor(model => model.FileDescription)</th>
                                                                        <th></th>
                                                                    </tr>

                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.FolderID == 3)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileDescription)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Volunteer Resources </a><br />  <div class="row fileList">
                                    <br />
                                    <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="showfile"> &nbsp; &nbsp; &nbsp; <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Sample Folder </a><br />  <div class="row fileList">
                                                            <br />
                                                            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                                                <table class="table panel-heading well well-sm ">
                                                                    <tr>
                                                                        <th>@Html.DisplayNameFor(model => model.FileName)</th>
                                                                        <th>@Html.DisplayNameFor(model => model.FileDescription)</th>
                                                                        <th></th>
                                                                    </tr>

                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.FolderID == 4)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.FileDescription)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>



            </div>
        </div>
