@model IEnumerable<HospiceNiagara.Models.ViewModels.MeetingsViewModel>


<!-- Meeting Table Content -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>
                        <button type="button" class="btn col-md-10 btn-default btn-green" data-toggle="modal" data-target="#addMeeting">
                            <span class="glyphicon pull-left glyphicon-plus"></span> Add Announcement
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Date</td>
                        <td>@item.Name</td>
                        <td>
                            <button type="button" class="btn btn-default btn-blue col-md-10" data-toggle="modal" data-target="#@item.ID">
                                <span class="glyphicon pull-left glyphicon-edit"></span> Edit Announcement
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /End Table Content-->
<!-- Add Meeting Modal -->

<div class="modal fade" id="addMeeting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Announcement</h4>
            </div>
            <div class="modal-body">

                <!-- Form For Adding Announcement -->
                <form>
                    <div class="form-group">
                        <label for="meetingTitle">Meeting Title</label>
                        <input type="text" class="form-control" id="meetingTitle" placeholder="Meeting Title">
                    </div>
                    <div class="form-group">
                        <label for="meetingDate">Date of Meeting</label>
                        <input type="date" class="form-control" id="meetingDate">
                    </div>
                    <div class="form-group">
                        <label for="meetingDetails">Meeting Details</label>
                        <textarea class="form-control" id="meetingDetails"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default btn-block btn-blue">Submit</button>
                    <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Cancel</button>
                </form>
                <!-- /END of form -->


            </div>
        </div>
    </div>
</div>
<!-- /End Meeting Modal -->
<!-- Edit Meeting Modal -->
@foreach (var items in Model)
{
    <div class="modal fade" id="@items.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Announcement</h4>
                </div>
                <div class="modal-body">

                    <!-- Form For Edditing Announcement -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(i => items.ID, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(i => items.ID, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(i => items.Date, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <input type="date" value="@Html.DisplayFor(i => items.Date)" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(i => items.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(i => items.Name, new { @class = "form-control" })
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default btn-block btn-blue">Submit</button>
                        <button type="button" class="btn btn-default btn-block btn-blue" data-dismiss="modal">Cancel</button>
                    </form>
                    <!-- /END of form -->

                </div>
            </div>
        </div>
    </div>
}
<!-- /End Model Edit announcement-->
<!-- /Edit Meeting Modal -->