@model IEnumerable<HospiceNiagara.Models.ViewModels.MyHospiceViewModel>

@Scripts.Render("~/bundles/bootstrap")

<div class="page-header">
    <h1>Admin Control Panel</h1>
</div>

<!-- Nav tabs -->
<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#usersTab" aria-controls="usersTab" role="tab" data-toggle="tab">Users</a></li>
        <li role="presentation"><a href="#filesTab" aria-controls="filesTab" role="tab" data-toggle="tab">Resources</a></li>
        <li role="presentation"><a href="#contactsTab" aria-controls="contactsTab" role="tab" data-toggle="tab">Contacts</a></li>
        <li role="presentation"><a href="#meetingsTab" aria-controls="meetingsTab" role="tab" data-toggle="tab">Meetings</a></li>
        <li role="presentation"><a href="#announcementsTab" aria-controls="announcementsTab" role="tab" data-toggle="tab">Announcements</a></li>
        <li role="presentation"><a href="#deathsTab" aria-controls="deathsTab" role="tab" data-toggle="tab">Deaths</a></li>
        <li role="presentation"><a href="#scheduleTab" aria-controls="scheduleTab" role="tab" data-toggle="tab">Schedule</a></li>
    </ul>
    <br />

    <div class="row">

        <!-- Tab panes new -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="usersTab">@Html.Action("_MemberList","Admin")</div>
            <div role="tabpanel" class="tab-pane" id="filesTab">@Html.Action("_File", "Admin")</div>
            <div role="tabpanel" class="tab-pane" id="contactsTab">@Html.Action("_ContactsList","Admin")</div>
            <div role="tabpanel" class="tab-pane" id="meetingsTab">@Html.Action("_MeetingsList","Admin")</div>
            <div role="tabpanel" class="tab-pane" id="announcementsTab">@Html.Action("_Announcement","Admin")</div>            
            <div role="tabpanel" class="tab-pane" id="deathsTab">@Html.Action("_Death", "Admin")</div>
            <div role="tabpanel" class="tab-pane" id="scheduleTab">@Html.Partial("_ScheduleList")"</div>
        </div>

    </div>
</div>






