@model IEnumerable<HospiceNiagara.Models.MemberViewModel>
<div class="page-header">
    <h1>Admin Control Panel</h1>
</div>

<!-- Nav tabs -->
<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#usersTab" aria-controls="usersTab" role="tab" data-toggle="tab">Users</a></li>
        <li role="presentation"><a href="#filesTab#top" aria-controls="filesTab" role="tab" data-toggle="tab">Resources</a></li>
        <li role="presentation"><a href="#contactsTabtop" aria-controls="contactsTab" role="tab" data-toggle="tab">Contacts</a></li>
        <li role="presentation"><a href="#meetingsTabtop" aria-controls="meetingsTab" role="tab" data-toggle="tab">Meetings</a></li>
        <li role="presentation"><a href="#announcementsTabtop" aria-controls="announcementsTab" role="tab" data-toggle="tab">Announcements</a></li>
        <li role="presentation"><a href="#eventsTabtop" aria-controls="eventsTab" role="tab" data-toggle="tab">Events</a></li>
        <li role="presentation"><a href="#deathsTabtop" aria-controls="deathsTab" role="tab" data-toggle="tab">Deaths</a></li>
        <li role="presentation"><a href="#scheduleTabtop" aria-controls="scheduleTab" role="tab" data-toggle="tab">Schedule</a></li>
    </ul>
    <br />

    <div class="row">

        <!-- Tab panes new List<HospiceNiagara.Models.FileViewModel>() -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="usersTab">@Html.Partial("_MemberList")</div>
            <div role="tabpanel" class="tab-pane" id="filesTab">@Html.Action("_File", "Admin")</div>
            <div role="tabpanel" class="tab-pane" id="contactsTab">@Html.Partial("_ContactsList")</div>
            <div role="tabpanel" class="tab-pane" id="meetingsTab">@Html.Partial("_MeetingsList")</div>
            <div role="tabpanel" class="tab-pane" id="announcementsTab">@Html.Partial("_AnnouncementList")</div>
            <div role="tabpanel" class="tab-pane" id="eventsTab">@Html.Partial("_EventsList")</div>
            <div role="tabpanel" class="tab-pane" id="deathsTab">@Html.Action("_Death", "Admin")</div>
            <div role="tabpanel" class="tab-pane" id="scheduleTab">@Html.Partial("_ScheduleList")</div>
        </div>

    </div>
</div>






