<div class="page-header">
    <h1>Home</h1>
</div>

<div class="row">
    <!--Recent Files Uploaded-->
    @Html.Partial("_AnnounceControl")
    @Html.Partial("_FilesControl")
</div>

<div class="row">
    @Html.Partial("_EventsControl")
    @Html.Partial("_MeetingControl")
</div>

<div class="row">
    @Html.Partial("_MiniCalendarControl")
</div>
