<div class="page-header">
    <h1>Home - <small>Welcome @User.Identity.Name</small></h1>
</div>

<div class="row">
    @Html.Partial("_EventsControl")
    @Html.Partial("_AnnounceControl")
    @Html.Partial("_DeathControl")
</div>

<div class="row">
    @Html.Partial("_MiniCalendarControl")
    @Html.Partial("_MeetingControl")
</div>


<div class="footer bottom">
    <h1>Contact Information</h1>
    <ul class="list-unstyled">
        <li class="list-group-item-heading">Hospice Niagara - The Stabler Centre</li>
        <li>403 Ontario Street, Unit 2</li>
        <li>St. Catharines, ON L2N 1L5</li>
        <li>TEL: 905-984-8766</li>
        <li>Fax: 905-984-8242</li>
        <li>Web: <a href="http://www.hospiceniagara.ca">www.hospiceniagara.ca</a></li>
        <li></li>
    </ul>
</div>